<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

 <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="well-block">
                        <div class="well-title">
                            <h2>Questions? Book an Appointment</h2>
                        </div>
                        <form>
                            <!-- Form start -->
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label" for="name">Paciente</label>
                                        <input id="name" name="name" value="{{paciente?.name}}" disabled type="text" placeholder="Nombre" class="form-control input-md">
                                    </div>
                                </div>
                                <!-- Text input-->
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label" for="email">Contacto</label>
                                        <input id="email" name="email" type="text" placeholder="E-Mail" class="form-control input-md">
                                    </div>
                                </div>
                                <!-- Text input-->
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label" for="date">Fecha</label>
                                        <input type="date" name="dateofbirth" id="dateofbirth">
                                    </div>
                                </div>
                                <!-- Select Basic -->
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label" for="time">Hora</label>
                                        <select id="time" name="time" class="form-control">
                                            <option value="8:00 to 9:00">8:00 to 9:00</option>
                                            <option value="9:00 to 10:00">9:00 to 10:00</option>
                                            <option value="10:00 to 1:00">10:00 to 1:00</option>
                                        </select>
                                    </div>
                                </div>
                                <!-- Select Basic -->
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label" for="appointmentfor">Proposito</label>
                                        <select disabled id="appointmentfor" name="appointmentfor" class="form-control">
                                            <option value="Service#1">Cita General</option>

                                        </select>
                                    </div>
                                </div>
                                <!-- Button -->
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <button id="singlebutton" name="singlebutton" class="btn btn-primary">Hacer cita</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="well-block">
                        <select class="form-control"  [(ngModel)]="idi" name="idi" (click)="checkCitas()">
                            <option disabled >Pacientes</option>
                            <option  *ngFor="let paciente of pacientes" 
                                  [value]="paciente.idi" 
                                  >
                                {{paciente.name}}
                              </option>
                        </select>

                        <ul class=" list-group list-group-flush">
                            Citas 
                            <li class="list-group-item" *ngFor="let cita of citasPaciente" >
                            
                            
                              <div class="todo-indicator bg-success" *ngIf="converCitaDate(cita.fecha) > currentDate" ></div>
                              <div class="todo-indicator bg-danger" *ngIf="converCitaDate(cita.fecha) < currentDate" ></div>
                              
                              <div class="widget-content p-0">
                                <div class="widget-content-wrapper">
                    
                                  <div class="widget-content-left">
                                    <div class="widget-heading">{{cita.fecha}}
                                    </div>
                                 
                                  </div>
                    
                                </div>
                              </div>
                            
                            </li>
                            <li class="list-group-item" *ngIf="citasPaciente.length < 1">
                              <div class="todo-indicator bg-info"></div>
                              no citas
                            </li>
                    
                          </ul>

                    </div>
                </div>
            </div>
        </div>
        



    




